# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
venv/
env/
.venv/

# PyCharm
.idea/

# Django static/media (optional)
media/
staticfiles/

# Environment variables
.env

# Migrations (optional, usually keep them)
# */migrations/*.py
# !*/migrations/__init__.py